* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka';
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header  {
    text-align: center;
}

main {
    margin-top: 30px;
}

header h1 {

    color: #c82e64;
    padding: 40px;
}

.card {
    background-color: black;
    color: white;
    float: left;
    width: calc((100% - 90px) / 3);
    margin: 0 15px 30px 15px;
    box-shadow: 0 0 10px black;
}

.card__image {
    float: left;
    width: 100px;
    margin-right: 15px;
}

.card__name {
    text-transform: uppercase;
    font-size: 20px;
    padding: 8px;
}

.card__role {

}

.card__contact {
    color: #27add3;
}