* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header  {
    text-align: center;
}

header h1 {
    font-family: 'Fredoka One';
    color: #c82e64;
    padding: 40px;
}

.card {
    background-color: black;
    color: white;
    float: left;
    width: calc((100% - 90px) / 3);
    margin: 0 15px 30px 15px;
}

.card__image {
    float: left;
    width: 100px;
}

.card__name {
    text-transform: uppercase;

}

.card__role {

}

.card__contact {

}